@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply m-0 p-0 font-sans bg-gray-200 

}body{
  @apply content-[''] bg-[url("/icons/fabrica.png")] bg-auto bg-center bg-no-repeat h-auto bg-blend-soft-light;
}

h1{
  @apply font-semibold text-2xl;
}

